.logo img{
    height: 60px;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 6px;
}

.first {
    display: flex;
    /* background-color: aquamarine; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 40px;
}

.first span img {
    width: 85px;
    margin: 0 23px;
}

.first p {
    font-size: 23px;
    width: 60vw;
    text-align: center;
}

.btn {
    background-color: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    margin: 12px 0;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.green {
    background-color: #5cb85c;
}

.small {
    font-size: 12px;
}

.second {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    max-width: 65vw;
    margin: auto;
}

.item {
    padding: 23px;
    background-color: #f9f9f9;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

.item-lang {
    font-weight: 700;
    text-align: center;
    padding-bottom: 35px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.download {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
    font-family: sans-serif;
}

.download img {
    height: 60px;
    padding: 0 12px;
}

.download:nth-child(1) {
    font-size: 23px;
}

@media screen and (max-width: 1145px) {
    .grid {
        grid-template-columns: 1fr;
    }
}