.container {
    background-color: rgb(232, 195, 146);
    width: 50vw;
    height: 40vh;
}

.box {
    background-color: rgb(110, 244, 199);
    width: 5vw;
    height: 4vh;
    /* transition-property: transform; */
    /* transition-property: all; */
    /* transition-property: background-color, transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; */

    /* transition: all 3s ease-in-out 1s; */
    transition: all 3s cubic-bezier(0.05, 0.47, 0.31, 0.67) 1s;
}

.translate {
    /* transform: translateX(10vw) translateY(10vh); */
    transform: translateX(10vw) translateY(10vh) scale(2);
    background-color: blue;
}