*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 14px;
}

.box{
    box-sizing: border-box;
    border: 2px solid red;
    /* width: 1536px; */
    width: 80vw;
    /* height: 10vh; */
    min-height: 20vh;
    margin: auto;
    background-color: aquamarine;
}

.box > div{
    font-size: 1.5em;
    width: 50%;
    border: 2px solid darkorange;
    /* margin: 5px; */
}

.box >div > div{
    border: 2px solid blue;
    width: 50%;
}

.container{
    box-sizing: border-box;
    border: 2px solid red;
    /* width: 1536px; */
    width: 80vw;
    /* height: 80vh; */
    min-height: 80vh;
    margin: 23px auto;
    background-color: aquamarine;
    font-size: 18px;
}

.container p{
    font-size: 1.5em;
}

.mycont{
    border: 2px solid black;
    box-sizing: border-box;
    margin: 23px auto;
    color: rgb(43, 1, 254);
    font-size: 22px;
    width: 80vw;
}